# OS
.DS_Store
Thumbs.db

# Node
node_modules/
playable/dist/
*.log
.npm
.vite

# Unity
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]ser[Ss]ettings/
MemoryCaptures/
Recordings/
*.pidb.meta
*.pdb.meta
*.mdb.meta
.vs/
.idea/
*.csproj
*.unityproj
*.sln
*.suo
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db
sysinfo.txt
crashlytics-build.properties

# Recorded locally
playable/.env
